.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.indexMembers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form input,
.form button {
  margin: 1em 0 1em 0;
  padding: 1em 2em 1em 2em;
}

.editMemberCon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.editMemberCon img {
  border-radius: 4px;
}
