.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.indexMembers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form input,
.form button {
  margin: 1em 0 1em 0;
  padding: 1em 2em 1em 2em;
}

.editMemberCon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.editMemberCon img {
  border-radius: 4px;
}

.createControls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createControls button {
  padding: 1em 2em 1em 2em;
  color: white;
  background-color: blueviolet;
  border-radius: 4px;
  border: solid transparent;
}

/* Create page styles */

.centerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 40vw;
}

.createForm button,
.createForm input {
  margin: 1em 0 1em;
  padding: 1em 2em 1em 2em;
  border: solid 1px blueviolet;
  border-radius: 4px;
}

.createForm input[type="file"] {
  padding: 1em 2em 1em 2em;
  background-color: blueviolet;
  color: white;
  border-radius: 4px;
}
